/*General style spreadsheet*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}


/* Style for general html sections */

html {
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #eee;
}

section {
    height: 100vh;
    background: rgba(88, 106, 190, 0.835);
}

section span {
    margin: 0;
    font-size: 400%;
    text-align: center;
    line-height: 1;
    padding-top: calc(50vh - 20pt);
    display: block;
    font-weight: 700;
}

header {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    position: absolute;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
}

header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 .5em;
    color: black;
    transition: opacity .2s ease-in-out;
}


/* Efect on hover or focus in nav bar */

nav a:hover,
nav a:focus {
    opacity: 1;
    background-color: rgba(175, 172, 172, 0.445);
    border-radius: 5px;
    height: 28px;
}

article {
    margin: 5em auto 0;
    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;
}

article p {
    margin: 0;
    color: #333;
}

article p+p {
    margin-top: .7em;
}

@media (min-width: 500px) {
    header {
        text-align: left;
    }
    nav {
        float: right;
    }
    article {
        margin: 3.5em auto 0;
        padding: 2em;
    }
}

@media (min-width: 800px) {
    article {
        margin: 3.5em auto;
    }
}


/* EQCSS.js required for floating menú*/

@element html,
body and (min-scroll-y: 100vh) {
    header {
        position: fixed;
        top: 0;
        background: white;
        box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;
    }
}


/*Styled elements inside answer page */

.result {
    width: 300px;
}

textarea {
    width: 100%;
    height: 45vh;
}

img {
    width: 100%;
}